In [1]:
import numpy as np

In [2]:
datos = [] # palabaras
numeros = []  # datos numericos

entrada = open("datos.dat", "r")    # esto es un buffer
for linea in entrada:
    datos.append(linea)

for dat in datos:
    for j in dat.split():    
        numeros.append(float(j))
numeros = np.array(numeros)

In [3]:
numeros

array([0.0000e+00, 8.0000e+00, 1.0000e+00, 2.3000e+01, 2.0000e+00,
       4.8000e+01, 3.0000e+00, 8.3000e+01, 4.0000e+00, 1.2800e+02,
       5.0000e+00, 1.8300e+02, 6.0000e+00, 2.4800e+02, 7.0000e+00,
       3.2300e+02, 8.0000e+00, 4.0800e+02, 9.0000e+00, 5.0300e+02,
       1.0000e+01, 6.0800e+02, 1.1000e+01, 7.2300e+02, 1.2000e+01,
       8.4800e+02, 1.3000e+01, 9.8300e+02, 1.4000e+01, 1.1280e+03,
       1.5000e+01, 1.2830e+03, 1.6000e+01, 1.4480e+03, 1.7000e+01,
       1.6230e+03, 1.8000e+01, 1.8080e+03, 1.9000e+01, 2.0030e+03,
       2.0000e+01, 2.2080e+03, 2.1000e+01, 2.4230e+03, 2.2000e+01,
       2.6480e+03, 2.3000e+01, 2.8830e+03, 2.4000e+01, 3.1280e+03,
       2.5000e+01, 3.3830e+03, 2.6000e+01, 3.6480e+03, 2.7000e+01,
       3.9230e+03, 2.8000e+01, 4.2080e+03, 2.9000e+01, 4.5030e+03,
       3.0000e+01, 4.8080e+03, 3.1000e+01, 5.1230e+03, 3.2000e+01,
       5.4480e+03, 3.3000e+01, 5.7830e+03, 3.4000e+01, 6.1280e+03,
       3.5000e+01, 6.4830e+03, 3.6000e+01, 6.8480e+03, 3.7000e+01,
       7.2230e+03, 3.8000e+01, 7.6080e+03, 3.9000e+01, 8.0030e+03,
       4.0000e+01, 8.4080e+03, 4.1000e+01, 8.8230e+03, 4.2000e+01,
       9.2480e+03, 4.3000e+01, 9.6830e+03, 4.4000e+01, 1.0128e+04,
       4.5000e+01, 1.0583e+04, 4.6000e+01, 1.1048e+04, 4.7000e+01,
       1.1523e+04, 4.8000e+01, 1.2008e+04, 4.9000e+01, 1.2503e+04,
       5.0000e+01, 1.3008e+04, 5.1000e+01, 1.3523e+04, 5.2000e+01,
       1.4048e+04, 5.3000e+01, 1.4583e+04, 5.4000e+01, 1.5128e+04,
       5.5000e+01, 1.5683e+04, 5.6000e+01, 1.6248e+04, 5.7000e+01,
       1.6823e+04, 5.8000e+01, 1.7408e+04, 5.9000e+01, 1.8003e+04,
       6.0000e+01, 1.8608e+04, 6.1000e+01, 1.9223e+04, 6.2000e+01,
       1.9848e+04, 6.3000e+01, 2.0483e+04, 6.4000e+01, 2.1128e+04,
       6.5000e+01, 2.1783e+04, 6.6000e+01, 2.2448e+04, 6.7000e+01,
       2.3123e+04, 6.8000e+01, 2.3808e+04, 6.9000e+01, 2.4503e+04,
       7.0000e+01, 2.5208e+04, 7.1000e+01, 2.5923e+04, 7.2000e+01,
       2.6648e+04, 7.3000e+01, 2.7383e+04, 7.4000e+01, 2.8128e+04,
       7.5000e+01, 2.8883e+04, 7.6000e+01, 2.9648e+04, 7.7000e+01,
       3.0423e+04, 7.8000e+01, 3.1208e+04, 7.9000e+01, 3.2003e+04,
       8.0000e+01, 3.2808e+04, 8.1000e+01, 3.3623e+04, 8.2000e+01,
       3.4448e+04, 8.3000e+01, 3.5283e+04, 8.4000e+01, 3.6128e+04,
       8.5000e+01, 3.6983e+04, 8.6000e+01, 3.7848e+04, 8.7000e+01,
       3.8723e+04, 8.8000e+01, 3.9608e+04, 8.9000e+01, 4.0503e+04,
       9.0000e+01, 4.1408e+04, 9.1000e+01, 4.2323e+04, 9.2000e+01,
       4.3248e+04, 9.3000e+01, 4.4183e+04, 9.4000e+01, 4.5128e+04,
       9.5000e+01, 4.6083e+04, 9.6000e+01, 4.7048e+04, 9.7000e+01,
       4.8023e+04, 9.8000e+01, 4.9008e+04, 9.9000e+01, 5.0003e+04])

In [12]:
datos = [] # palabaras
numeros = []  # datos numericos

entrada = open("datos.dat", "r")    # esto es un buffer
for linea in entrada:
    datos.append(linea)

for i in range(len(datos)):
    for j in datos[i].split():    
        numeros.append(float(j))
numeros = np.array(numeros)

In [44]:
#ESTA ES LA BUENA!!!!

datos = [] # palabaras
X = []  # datos numericos columna izquierda
Y = []  # datos numericos columna derecha

entrada = open("datos.dat", "r")    # esto es un buffer
for linea in entrada:
    datos.append(linea.split())

for elemento in datos:
    X.append(float(elemento[0]))
    Y.append(float(elemento[1]))
        
X = np.array(X)
Y = np.array(Y)

In [46]:
import pandas as pd

In [88]:
#AHORA CON PANDAS!!!!

# datos = pd.read_csv("datos.dat")
# datos = pd.read_csv("datos.dat", sep='\t')
# datos = pd.read_csv("datos.dat", sep='\t', header = None)
datos = pd.read_csv("datos.dat", sep='\t', header = None, dtype='float')

datos.columns = ["X","Y"]
X = datos["X"].values
Y = datos["Y"].values

In [106]:
datosX = open("datosX.txt",'w')

datosX.write("hola mundo\n")

for x in X:
    datosX.write("%g\n" % x)
datosX.close()

In [111]:
datosCompletos = open("datosXY.txt",'w')

for x,y in zip(X,Y):
    datosCompletos.write("%g\t%g\n" % (x,y))

In [112]:
datosCompletos.close()

In [114]:
# datosCompletos.write("hola mundo\n")

In [115]:
def fibonacci(n):
    
    output = []
    
    f1,f2 = 1,1

    while f2 < n:
        output.append(f2)        
        f1,f2 = f2,f1+f2
    
    return output

In [119]:
fibonacci(100)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [124]:
fibo = fibonacci(10000)

outputBuff = open("fibonacci.dat", "w")

for n in fibo:
    # outputBuff.write("%d \n" % n)
    outputBuff.write("%f \n" % n)

outputBuff.close()

In [125]:
len(fibo)
fibo

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [129]:
fibo2 = fibonacci(1000)

with open("fibonacci2.dat", 'a') as out:
    for n in fibo2:
        out.write(str(n) + '\n')

In [132]:
datos

       X        Y
0    0.0      8.0
1    1.0     23.0
2    2.0     48.0
3    3.0     83.0
4    4.0    128.0
..   ...      ...
95  95.0  46083.0
96  96.0  47048.0
97  97.0  48023.0
98  98.0  49008.0
99  99.0  50003.0

[100 rows x 2 columns]

In [131]:
datos.to_csv("DataPandas.txt")

In [134]:
#Abriendo un Excel!!!!

datos = [] # palabras
X = []  # datos numericos columna izquierda
Y = []  # datos numericos columna derecha
Z = []  

entrada = open("DataPandas3.ods", "r")    # esto es un buffer
for linea in entrada:
    datos.append(linea.split())

for elemento in datos:
    X.append(float(elemento[0]))
    Y.append(float(elemento[1]))
    Z.append(float(elemento[2]))
        
X = np.array(X)
Y = np.array(Y)
Z = np.array(Z)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa1 in position 11: invalid start byte